<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Cho phép truy cập thư mục storage
    RewriteCond %{REQUEST_URI} ^/storage/ [NC]
    RewriteRule ^ - [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
Alias /storage/app/public D:/CNPM22CT1_NGODUCNHAN/storage/app/public
<Directory D:/CNPM22CT1_NGODUCNHAN/storage/app/public>
    Options Indexes FollowSymLinks
    AllowOverride None
    Require all granted
</Directory>


